@model string
@*
    Member Layout Empty Page Component
*@

<div style="text-align:center; padding:40px;">
    <i class="ri-mail-close-line" style="font-size:48px; color:#ccc;"></i>
    <h4 style="color:#666; margin-top:10px;">@Model</h4>
</div>