@{
    Layout = null;
}
<!DOCTYPE html>


<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">

@await Component.InvokeAsync("_AdminLayoutHeadComponent")

<body>
   
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
      
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

                @await Component.InvokeAsync("_AdminLayoutDemoComponent")

                <div class="menu-inner-shadow"></div>
                @await Component.InvokeAsync("_AdminLayoutSideBarComponent")
            </aside>
         
            <div class="layout-page">
     
                @await Component.InvokeAsync("_AdminLayoutNavbarComponent")

                <div class="content-wrapper">
           
                    <div class="container-xxl flex-grow-1 container-p-y">

                        @RenderBody()
                    </div>

                    @await Component.InvokeAsync("_AdminLayoutFooterComponent")

                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    @await Component.InvokeAsync("_AdminLayoutScriptComponent")
</body>
</html>

