@{
    ViewData["Title"] = "MemberDashboard";
    Layout = null;
}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

@await Html.PartialAsync("/Views/MemberLayoutPartial/_HeadPartial.cshtml")

<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">


    @await Html.PartialAsync("/Views/MemberLayoutPartial/_Navbar2Partial.cshtml")

 
    @await Html.PartialAsync("/Views/MemberLayoutPartial/_NavbarPartial.cshtml")

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
            </div>
            <div class="content-body">

                <div class="row match-height">
                    <div class="col-12">
                        <div class="">
                            <div id="gradient-line-chart1" class="height-250 GradientlineShadow1"></div>
                        </div>
                    </div>
                </div>

                @await Component.InvokeAsync("_MemberDashboardCharts")
      
                <div class="row match-height">
                    @await Component.InvokeAsync("_MemberStatistics")
                    @await Component.InvokeAsync("_MemberDashboardImage")
                    @await Component.InvokeAsync("_GuideList")
                    @await Component.InvokeAsync("_LastDestination")
                </div>
         
            </div>
        </div>
    </div>

    @await Html.PartialAsync("/Views/MemberLayoutPartial/_FooterPartial.cshtml")


    @await Html.PartialAsync("/Views/MemberLayoutPartial/_ScriptPartial.cshtml")
</body>
</html>

