
@{
    ViewData["Title"] = "MyCurrentReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="card-header bg-white">
    <h3 class="mb-0 fw-bold text-primary">
        Aktif Rezervasyonlarım
    </h3>
</div>