
@{
    ViewData["Title"] = "MyPastReservations";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="card-header bg-white">
    <h3 class="mb-0 fw-bold text-primary">
        Geçmiş Rezervasyonlarım
    </h3>
</div>

