@using DTOLayer.DTOs.MailDTOs
@model ResetPasswordDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<br />
<br />
<div class="container">
    <div class="card shadow-sm border-0 rounded-3">
        <div class="card-header bg-white">
            <h3 class="fw-bold text-primary mb-0">
                <i class="bi bi-envelope-fill me-2"></i> Şifre Yenileme Sayfası
            </h3>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Şifrenizi Giriniz</label>
                    <input asp-for="Password" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Şifrenizi Tekrar Giriniz</label>
                    <input asp-for="ConfirmPassword" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">Şifreyi Güncelle</button>
            </form>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success mt-3">@ViewBag.Message</div>
            }
        </div>
    </div>
</div>
